<h2 id="courses" class="page-header">Courses</h2>
<p>Returns a list of courses.</p>

<h3 id="courses-examples">Examples</h3>
<p>To find all Spanish courses offered during Winter 2014, send a request to /courses/ with the parameters <code>term</code> set to 4530 and <code>subject</code> set to SPANISH, i.e. <code>http://api.asg.northwestern.edu/courses/?api_key=YOUR_KEY&term=4530&subject=SPANISH</code>.</p>

<h3 id="courses-parameters">Parameters</h3>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>term</code></td>
      <td><strong>required</strong> id of the term for which to return courses</td>
    </tr>
    <tr>
      <td><code>subject</code></td>
      <td>symbol of a subject</td>
    </tr>
    <tr>
      <td><code>instructor</code></td>
      <td>id of an instructor</td>
    </tr>
    <tr>
      <td><code>room</code></td>
      <td>id of a room</td>
    </tr>
    <tr>
      <td><code>course_num</code></td>
      <td>course number e.g. 101-3 in CHEM 101-3. Accepts one or more characters to use as a filter</td>
    </tr>
    <tr>
      <td><code>meeting_days</code></td>
      <td>TODO __including, __excluding?</td>
    </tr>
    <tr>
      <td><code>start_time</code></td>
      <td></td>
    </tr>
    <tr>
      <td><code>end_time</code></td>
      <td></td>
    </tr>
    <tr>
      <td><code>start_date</code></td>
      <td></td>
    </tr>
    <tr>
      <td><code>end_date</code></td>
      <td></td>
    </tr>
    <tr>
      <td><code>seats</code></td>
      <td>number of seats in the course</td>
    </tr>
    <tr>
      <td><code>section_num</code></td>
      <td>section number of a given course</td>
    </tr>
    <tr>
      <td><code>component</code></td>
      <td>e.g. LECTURE, LAB</td>
    </tr>
  </tbody>
</table>

<p>The <code>start_time</code>, <code>end_time</code>, <code>start_date</code>, and <code>end_date</code> expect exact values by default. You can append <code>__lt</code> or <code>__gt</code> to each of them to filter by values that are less than or greater than the value you specify.</p>


<h3 id="courses-response-format">Response format</h3>
<p>Here's an example of the structure of the course data returned:</p>
{% highlight json %}
{
  "id": 78818,
  "title": "Music and Mind",
  "instructor": "Richard D Ashley",
  "subject": "MUS_THRY",
  "catalog_num": "251-0",
  "section": "20",
  "room": "Music Administration Bldg 229",
  "meeting_days": "MoWeFr",
  "start_time": "09:00:00",
  "end_time": "09:50:00",
  "seats": 20,
  "topic": null,
  "component": "LEC",
  "class_num": 16834,
  "course_id": 19151
}
{% endhighlight %}
<p>TODO: what fields are null, etc</p>
