<h2 id="courses" class="page-header">Courses</h2>
<p>Returns a list of courses.</p>

<h3 id="courses-examples">Examples</h3>
<p>To find all Spanish courses offered during Winter 2014, send a request to /courses/ with the parameters <code>term</code> set to 4530 and <code>subject</code> set to SPANISH, i.e.</p>
<pre>
http://api.asg.northwestern.edu/courses/?api_key=YOUR_KEY&term=4530&subject=SPANISH
</pre>

<h3 id="courses-parameters">Parameters</h3>

<p>To query the /courses/ endpoint, you must include a minimum set of parameters. These combinations are listed below. You can include additional parameters to narrow down your search, but the set of parameters must include one of these combinations.</p>
<p><span class="lead">TODO</span> there are a maximum of 200 courses returned per response. If a response is truncated, there will be a <code>Response-Warning</code> header included</p>
<ul>
  <li><code>instructor</code></li>
  <li><code>id</code> (there can be multiple)</li>
  <li><code>term</code>, <code>subject</code></li>
  <li><code>term</code>, <code>room</code></li>
</ul>

<p>Here are descriptions of all available parameters:</p>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>id</code></td>
      <td>id of the course. Uniquely idenfities a course; used only by this API <strong>integer</strong></td>
    </tr>
    <tr>
      <td><code>term</code></td>
      <td>id of the term <strong>integer</strong></td>
    </tr>
    <tr>
      <td><code>subject</code></td>
      <td>symbol representing the subject of the course <strong>string</strong> e.g. BIOL_SCI, PHIL</td>
    </tr>
    <tr>
      <td><code>instructor</code></td>
      <td>id of the instructor who teaches the course <strong>integer</strong></td>
    </tr>
    <tr>
      <td><code>room</code></td>
      <td>id of the room in which the course is held <strong>integer</strong></td>
    </tr>
    <tr>
      <td><code>catalog_num</code></td>
      <td>departmental catalog number of the course, including the sequence number <strong>string</strong></td>
    </tr>
    <tr>
      <td><code>meeting_days</code></td>
      <td>days of the week when the course meets <strong>string</strong></td>
    </tr>
    <tr>
      <td><code>start_time</code></td>
      <td>time of day when the course starts <strong>string</strong> w/format HH:MM (24-hour clock)</td>
    </tr>
    <tr>
      <td><code>end_time</code></td>
      <td>time of day when the course stops <strong>string</strong> w/format HH:MM (24-hour clock)</td>
    </tr>
    <tr>
      <td><code>start_date</code></td>
      <td>date when the course starts <strong>string</strong> w/format YYYY-MM-DD</td>
    </tr>
    <tr>
      <td><code>end_date</code></td>
      <td>date when the course stops <strong>string</strong> w/format YYYY-MM-DD</td>
    </tr>
    <tr>
      <td><code>seats</code></td>
      <td>number of seats available <strong>string</strong></td>
    </tr>
    <tr>
      <td><code>component</code></td>
      <td>what part of the course it is <strong>string</strong> e.g. LEC, LAB</td>
    </tr>
    <tr>
      <td><code>section</code></td>
      <td>a particular occurrence of this course. Used to help identify the course if multiple professors or times are offered in a given term <strong>string</strong></td>
    </tr>
    <tr>
      <td><code>class_num</code></td>
      <td>the University's class number for the course (not unique) <strong>integer</strong></td>
    </tr>
    <tr>
      <td><code>course_id</code></td>
      <td>the University's id number for the course (not unique) <strong>integer</strong></td>
    </tr>
  </tbody>
</table>

<p>The <code>start_time</code>, <code>end_time</code>, <code>start_date</code>, <code>end_date</code>, and <code>seats</code> expect exact values by default. You can append <code>__lt</code>, <code>__gt</code>, <code>__lte</code>, or <code>__gte</code> to each of them to filter by values that are less than or greater than and/or equal to the value you specify.</p>


<h3 id="courses-response-format">Response format</h3>
<p>Course data is returned in lists of objects. Each object has the following structure:</p>
{% highlight json %}
{
  "id": 78818,
  "title": "Music and Mind",
  "instructor": "Richard D Ashley",
  "subject": "MUS_THRY",
  "catalog_num": "251-0",
  "section": "20",
  "room": "Music Administration Bldg 229",
  "meeting_days": "MoWeFr",
  "start_time": "09:00",
  "end_time": "09:50",
  "seats": 20,
  "topic": null,
  "component": "LEC",
  "class_num": 16834,
  "course_id": 19151
}
{% endhighlight %}
<code>topic</code> is the title of a topics course, which are courses that all have the same subject and number e.g. EECS 395. It may be null.

<h3 id="courses-details">Courses (with details)</h3>

<p>Query this just like the courses endpoint. Returns courses with additional details such as an overview, descriptions of different aspects of the course, and related discussion and/or lab sections. Here's the structure of a course object:</p>
{% highlight json %}
{
  "id": 56149,
  "title": "Cell Biology",
  "term": "2014 Winter",
  "school": "WCAS",
  "instructor": {
    "name": "Gregory J Beitel",
    "bio": null,
    "address": "Pancoe Pavilion, Room 1407",
    "phone": "847/467-7776",
    "office_hours": "Wed 1-2pm, Fri 4-5pm"
  },
  "subject": "BIOL_SCI",
  "catalog_num": "216-0",
  "section": "20",
  "room": "Tech Institute Lecture Room 3",
  "meeting_days": "MoWeFr",
  "start_time": "11:00",
  "end_time": "11:50",
  "start_date": "2014-01-06",
  "end_date": "2014-03-15",
  "seats": 220,
  "overview": "Introduction to Cell Biology. Mechanisms that cells use to compartmentalize and transportcellular materials, to move, to regulate growth and death, to communicateand to respond totheir environments.",
  "topic": null,
  "attributes": "Natural Sciences Distro Area ",
  "requirements": "Enrollment Requirements: Prerequisite: Students must completed CHEM 172-0 or CHEM 103-0 to register for this course.",
  "component": "LEC",
  "class_num": 26101,
  "course_id": 19885,
  "course_descriptions": [
    {
      "name": "Class Materials (Required)",
      "desc": "Alberts et al. 2013. Essential Cell Biology, 4th edition. ISBN: 9780815344544. Up to date Clicker"
    },
    {
      "name": "Teaching Method",
      "desc": "Active learning exercises, lectures. Two exams (One in finals week but not cumulative) and multiple quizzes."
    },
    {
      "name": "Registration Requirements",
      "desc": "Prerequisites: CHEM 103 or 172"
    }
  ],
  "course_components": [
    {
      "component": "DIS",
      "meeting_days": "We",
      "start_time": "19:00",
      "end_time": "20:50",
      "section": "60",
      "room": "Technological Institute AUD"
    }
  ]
}
{% endhighlight %}

Many of the additional fields may be empty or null. For instance, <code>course_descriptions</code> and <code>course_componenents</code> might be empty lists, some instructor details might be null, and <code>overview</code>, <code>attributes</code>, and <code>requirements</code> might be null.
