<style>
.footer {
  background-color: #555;
  color: #fff;
  padding: 30px 0 20px;
  margin-top: 10px;
}
.footer a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.footer a:active,
.footer a:hover {
  color: #ccc;
  border-bottom-color: #ccc;
  text-decoration: none;
}
</style>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>To report bugs, submit an issue on the <a href="https://github.com/northwesternapi/server/" target="_blank">GitHub repo</a>. Send questions to <a href="mailto:shengwu2014@u.northwestern.edu">shengwu2014@u.northwestern.edu</a>.</p>
      </div>
    </div>
  </div>
</div>
