<style>
.footer {
  background-color: #555;
  color: #fff;
  padding: 30px 0 20px;
  margin-top: 30px;
}
.footer a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.footer a:active,
.footer a:hover {
  color: #ccc;
  border-bottom-color: #ccc;
  text-decoration: none;
}
</style>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>To report a bug, open an issue on the <a href="https://github.com/northwesternapis/server/" target="_blank">GitHub repo</a>. Send questions to <a href="mailto:asg-technology@u.northwestern.edu">asg-technology@u.northwestern.edu</a>.</p>
      </div>
    </div>
  </div>
</div>
