<h2 id="instructors" class="page-header">Instructors</h2>
<p>Returns a list of instructors. Must include the <code>subject</code> parameter. Object format:</p>
{% highlight json %}
{
  "id": 161,
  "name": "Mark P Witte",
  "bio": "Mark Witte is a Distinguished Senior Lecturer and the Director of Undergraduate Studies for economics at Northwestern. While completing his Ph.D., Mark worked as a researcher for the Federal Reserve. His specialties are macroeconomics, public finance, and environmental economics. He often teaches Introduction to Macroeconomics as well as upper-level classes in his specialities, and enjoys teaching 311 because it helps him be ready for his role as coach of Northwestern's Federal Reserve Challenge Team.",
  "address": null,
  "phone": null,
  "subjects": [
    "ECON",
    "BUS_INST",
    "ECON",
    "GEN_LA"
  ],
  "office_hours": null
}
{% endhighlight %}
Here, <code>subjects</code> refers to any subjects in which instructors have ever taught courses.
