<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/static/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/static/style.css" | prepend: site.baseurl }}">
</head>
<body>
  {{ content }}
  <script href="{{ "/static/js/jquery.min.js" | prepend: site.baseurl }}"></script>
  <script href="{{ "/static/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
</body>
</html>
